.container-page {
  width: 100%;
  padding: 32px;
  background-color: #081B26;
  border-radius: 8px;
  display: block;
}
.container-content{

  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 20px;
  border: 1px solid #13F2F2;
  border-radius: 10px;
  overflow: hidden;
  gap: 10px;
}
.item-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}
.item-header h1 {
  color: #038C8C;
  font-weight: bold;
}
.btn-system{
  width: 30%;
  padding: 10px;
  background-color: #04BFBF;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.table-container {
  background-color: #082d36;
  width: 100%;
  border-radius: 10px;
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
  background-color: #082d36;
  table-layout: auto;
}

mat-header-row, mat-row {
  background-color: #0d3c47;
}

mat-header-cell {
  font-weight: bold;
  color: #082d36;
  padding: 10px;
}

mat-cell {
  padding: 10px;
  color: #fff;
  border-top: 1px solid #1e4f5b;
}
.ttt{
  color: #fff;
}
